In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [6]:
heart_disease_data = pd.read_csv('D:/ML_Data/Heart_Disease/heart.csv')
bmi_data = pd.read_csv('D:/ML_Data/BMI/500_Person_Gender_Height_Weight_Index.csv')
microbiome_project = pd.read_csv('D:/ML_Data/human_microbiome_project/project_catalog.csv')

In [3]:
heart_disease_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
bmi_data

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [22]:
microbiome_project = microbiome_project.dropna()

In [23]:
microbiome_project.isnull().sum()

HMP ID                     0
GOLD ID                    0
Organism Name              0
Domain                     0
NCBI Superkingdom          0
HMP Isolation Body Site    0
Project Status             0
Current Finishing Level    0
NCBI Submission Status     0
NCBI Project ID            0
Genbank ID                 0
Gene Count                 0
IMG/HMP ID                 0
HOMD ID                    0
Sequencing Center          0
Funding Source             0
Strain Repository ID       0
dtype: int64

In [27]:
microbiome_project

,HMP ID,GOLD ID,Organism Name,Domain,NCBI Superkingdom,HMP Isolation Body Site,Project Status,Current Finishing Level,NCBI Submission Status,NCBI Project ID,Genbank ID,Gene Count,IMG/HMP ID,HOMD ID,Sequencing Center,Funding Source,Strain Repository ID
0,1,Gi03551,Abiotrophia defectiva ATCC 49176,BACTERIAL,Bacteria,oral,Complete,Level 3: Improved-High-Quality Draft,6. annotation (and sequence) public on NCBI site,33011,ACIN00000000,1950,643886181,HOMD: tax_389,Washington University Genome Sequencing Center,NIH-HMP Jumpstart Supplement,"ATCC 49176, CIP 103242"
2,5,Gi03554,Achromobacter xylosoxidans C54,BACTERIAL,Bacteria,airways,Complete,Level 5: Non-contiguous Finished,6. annotation (and sequence) public on NCBI site,38739,ACRC00000000,6010,0,HOMD: tax_343,Broad Institute,NIH-HMP Jumpstart Supplement,BEI HM-235
3,10,Gi03422,Acinetobacter baumannii ATCC 19606,BACTERIAL,Bacteria,urogenital_tract,Complete,Level 2: High-Quality Draft,6. annotation (and sequence) public on NCBI site,38509,ACQB00000000,3832,647533101,HOMD: tax_554,Broad Institute,NIH-HMP Jumpstart Supplement,"ATCC 19606, DSM 6974"
21,50,Gi01705,Actinomyces odontolyticus ATCC 17982,BACTERIAL,Bacteria,oral,Complete,Level 3: Improved-High-Quality Draft,6. annotation (and sequence) public on NCBI site,18171,AAYI00000000,2159,640963058,HOMD: tax_701,Washington University Genome Sequencing Center,NIH-HMP NHGRI,"DSM 43331, ATCC 17982"
37,80,Gi03601,Anaeroglobus geminatus F0357,BACTERIAL,Bacteria,oral,Complete,Level 2: High-Quality Draft,6. annotation (and sequence) public on NCBI site,50397,AGCJ00000000,2148,2513237300,HOMD: tax_121,Washington University Genome Sequencing Center,NIH-HMP Sequencing Center,BEI HM-557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2800,9628,Gi06851,Peptostreptococcaceae bacterium CM5,BACTERIAL,Bacteria,unknown,Complete,Level 2: High-Quality Draft,6. annotation (and sequence) public on NCBI site,49891,AFZG00000000,2325,2513237271,HOMD: tax_105,Broad Institute,NIH-HMP Sequencing Center,BEI HM-485
2801,9629,Gi06852,Peptostreptococcaceae bacterium ACC19a,BACTERIAL,Bacteria,unknown,Complete,Level 2: High-Quality Draft,6. annotation (and sequence) public on NCBI site,49887,AFZE00000000,2277,2513237269,HOMD: tax_105,Broad Institute,NIH-HMP Sequencing Center,BEI HM-483
2802,9630,Gi06853,Peptostreptococcaceae bacterium CM2,BACTERIAL,Bacteria,unknown,Complete,Level 2: High-Quality Draft,6. annotation (and sequence) public on NCBI site,49889,AFZF00000000,1973,2513237356,HOMD: tax_105,Broad Institute,NIH-HMP Sequencing Center,BEI HM-484
2803,9682,Gi07010,Streptococcus intermedius F0395,BACTERIAL,Bacteria,oral,Complete,Level 2: High-Quality Draft,6. annotation (and sequence) public on NCBI site,49885,AFXN00000000,1904,0,HOMD: tax_644,Broad Institute,NIH-HMP,BEI HM-487
2858,9942,Gi08347,Fusobacterium nucleatum subsp. animalis OT 420,BACTERIAL,Bacteria,unknown,Complete,Level 2: High-Quality Draft,6. annotation (and sequence) public on NCBI site,64879,AGEH00000000,2307,0,HOMD: tax_202,Broad Institute,NIH-HMP Sequencing Center,BEI HM-758